body{
  margin:0;
  font-family:Segoe UI;
  background:linear-gradient(135deg,#0f2027,#203a43,#2c5364);
  color:white;
}

.app{
  max-width:420px;
  margin:auto;
  height:100vh;
  display:flex;
  flex-direction:column;
}

header{
  text-align:center;
  padding:15px;
  font-size:20px;
}

/* MODES */
.mode{
  display:none;
  flex:1;
  overflow:auto;
  padding:15px;
}

.mode.active{
  display:block;
}

/* CALCULATOR */
.display{
  width:100%;
  height:70px;
  font-size:28px;
  text-align:right;
  border:none;
  border-radius:15px;
  padding:10px;
  margin-bottom:15px;
  background:#ffffff15;
  color:white;
}

.keys{
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap:12px;
}

.keys button{
  padding:18px;
  font-size:18px;
  border:none;
  border-radius:15px;
  background:#ffffff10;
  color:white;
  backdrop-filter:blur(10px);
  transition:0.2s;
}

.keys button:active{
  transform:scale(0.9);
}

.op{
  background:#ff9800;
}

.equal{
  background:#00c853;
}

/* CARDS */
.card{
  background:#ffffff12;
  padding:20px;
  border-radius:18px;
  backdrop-filter:blur(12px);
  box-shadow:0 8px 20px rgba(0,0,0,0.3);
}

input{
  width:100%;
  padding:12px;
  margin:8px 0;
  border:none;
  border-radius:10px;
}

/* BOTTOM NAV */
.bottomNav{
  display:flex;
  justify-content:space-around;
  padding:10px;
  background:#00000040;
  backdrop-filter:blur(15px);
}

.bottomNav button{
  background:none;
  border:none;
  color:white;
  font-size:22px;
}